<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remindEnable</key>
	<true/>
	<key>remindStart</key>
	<real>3600</real>
	<key>remindEnd</key>
	<real>7200</real>
	<key>remindInterval</key>
	<integer>15</integer>
	<key>haloColor</key>
	<real>16776960</real>
	<key>haloMode</key>
	<integer>3</integer>
	<key>haloSpeed</key>
	<integer>144</integer>
	<key>haloConter</key>
	<integer>128</integer>
	<key>beepMode</key>
	<integer>144</integer>
	<key>phone_voice</key>
	<true/>
	<key>cup_voice</key>
	<true/>
	<key>my_state4</key>
	<false/>
	<key>my_state3</key>
	<false/>
	<key>my_state2</key>
	<false/>
	<key>my_state1</key>
	<false/>
	<key>my_drinkwater</key>
	<string>1900</string>
	<key>my_weight</key>
	<string>56</string>
	<key>cup_Attrib</key>
	<string>我的水杯</string>
	<key>cup_name</key>
	<string>我的水杯1</string>
</dict>
</plist>
