<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deviceName</key>
	<string>我的探头1</string>
	<key>deviceAttrib</key>
	<string>洗手间</string>
	<key>checktime1</key>
	<integer>36000</integer>
	<key>checktime2</key>
	<integer>64800</integer>
</dict>
</plist>
