<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deviceName</key>
	<string>智能补水仪</string>
	<key>deviceAttrib</key>
	<string>办公室</string>
	<key>checktime1</key>
	<real>30600</real>
	<key>checktime2</key>
	<real>52200</real>
	<key>checktime3</key>
	<real>75600</real>
	<key>sex</key>
	<string>女</string>
</dict>
</plist>
