<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>什么是TDS?</key>
	<string>&lt;html&gt;

&lt;head&gt;

&lt;meta http-equiv=&quot;Content-Type&quot; content=“text/html; charset=UTF-8&quot; /&gt;

&lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no&quot;&gt;

&lt;/head&gt;

&lt;body style=&quot;padding:0;margin:0;background:#FFF;&quot;&gt;

	&lt;style&gt;

		p{padding:0;margin:0;text-align:center;color:rgb(46,129,245);}

		.tit1{font-size:15px;font-weight:bold;margin:15px 15px 10px;}

		.tit2{font-size:14px;margin:0 12px 15px;}

		.content{font-size:14px;text-indent:28px;line-height:20px;color:rgb(128,129,131);margin:0 15px;}

	&lt;/style&gt;

	&lt;p class=&quot;tit1&quot;&gt;总溶解固体&lt;p&gt;

	&lt;p class=&quot;tit2&quot;&gt;Total，缩写TDSTotal，缩写TDS&lt;p&gt;

	&lt;div class=&quot;content&quot;&gt;

		又称溶解性固体总量，测量单位为毫克/升(mg/L),它表明1升水中溶有多少毫克溶解性固体。TDS值越高,表示水中含有的溶解物越多。

	&lt;/div&gt;

	&lt;div class=&quot;content&quot;&gt;

		总溶解固体指水中全部溶质的总量,包括无机物和有机物两者的含量。一般可用电导率值大概了解溶液中的盐份,一般情况下,电导率越高,盐份越高,TDS越高。

	&lt;/div&gt;

&lt;div class=&quot;content&quot;&gt;

		 在无机物中,除溶解成离子状的成分外,还可能有呈分子状的无机物。由于天然水中所含有的有机物以及呈分子状的无机物一般可以不考虑,所以一般也把含盐量称为总溶解固体。

&lt;/div&gt;

&lt;div class=&quot;content&quot;&gt;

		但是在特定水中TDS并不能有效反映水质的情况。比如电解水,由于电解过的水中[OH]-等带电离子显著增多,相应的导电量就异常加大。比如原TDS在17的纯水经电解水机电解后所得碱性水的TDS值大约在300左右。

&lt;/div&gt;

&lt;/body&gt;

&lt;/html&gt;</string>
	<key>水分</key>
	<string>&lt;html&gt;

&lt;head&gt;

&lt;meta http-equiv=&quot;Content-Type&quot; content=“text/html; charset=UTF-8&quot; /&gt;

&lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no&quot;&gt;

&lt;/head&gt;

&lt;body style=&quot;padding:0;margin:0;background:#FFF;&quot;&gt;

	&lt;style&gt;

		p{padding:0;margin:0;text-align:center;color:rgb(46,129,245);}

		.tit1{font-size:15px;font-weight:bold;margin:15px 15px 10px;}

		.tit2{font-size:14px;margin:0 12px 15px;}

		.content{font-size:14px;text-indent:28px;line-height:20px;color:rgb(128,129,131);margin:0 15px;}

	&lt;/style&gt;

	&lt;p class=&quot;tit1&quot;&gt;人体正常水分率&lt;p&gt;

	&lt;p class=&quot;tit2&quot;&gt;眼部  35%—45%&lt;p&gt;
        &lt;p class=&quot;tit2&quot;&gt;脸部  32%—42%&lt;p&gt;
        &lt;p class=&quot;tit2&quot;&gt;颈部  35%—45%&lt;p&gt;
         &lt;p class=&quot;tit2&quot;&gt;手部  30%—38%&lt;p&gt;
        &lt;p class=&quot;tit1”&gt;(仅供参考)&lt;p&gt;

&lt;div class=&quot;content&quot;&gt;
&lt;/div&gt;

	&lt;div class=&quot;content&quot;&gt;

		不同季节各部分数值将有所不同。

	&lt;/div&gt;

	&lt;div class=&quot;content&quot;&gt;

		夏季水分率正常值相差3%，冬季水分率正常值相差5%。

	&lt;/div&gt;




&lt;/body&gt;

&lt;/html&gt;</string>
	<key>油分</key>
	<string>&lt;html&gt;

&lt;head&gt;

&lt;meta http-equiv=&quot;Content-Type&quot; content=“text/html; charset=UTF-8&quot; /&gt;

&lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no&quot;&gt;

&lt;/head&gt;

&lt;body style=&quot;padding:0;margin:0;background:#FFF;&quot;&gt;

	&lt;style&gt;

		p{padding:0;margin:0;text-align:center;color:rgb(46,129,245);}

		.tit1{font-size:15px;font-weight:bold;margin:15px 15px 10px;}

		.tit2{font-size:14px;margin:0 12px 15px;}

		.content{font-size:14px;text-indent:28px;line-height:20px;color:rgb(128,129,131);margin:0 15px;}

	&lt;/style&gt;
        &lt;p &gt;  &lt;p&gt;
	&lt;div class=&quot;content&quot;&gt;

		皮肤出油是由于人体皮肤干燥缺水，导致肌肤受损，人体自我修复和保护系统会分泌油脂来保护肌肤！大多数男性肌肤多为油性皮肤，所以要想从根本解决出油问题，需要注意肌肤的补水保湿，这样才能从根本改善和保护受损肌肤。

	&lt;/div&gt;
        &lt;p class=&quot;tit1”&gt;(仅供参考)&lt;p&gt;


&lt;/body&gt;

&lt;/html&gt;</string>
</dict>
</plist>
